  *,
  *:before,
  *:after {
      -webkit-box-shadow: border-box;
      box-shadow: border-box;
  }
  
  #transition_disable {
      transition: none !important;
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -ms-transition: none !important;
      -o-transition: none !important;
  }
  
  body {
      margin: 0;
      font-family: 'Jura', sans-serif;
      overflow-x: hidden;
      background: rgb(238, 238, 238);
  }
  
  html {
      font-size: 10px;
  }
  
  .full {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
  }
  
  .wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100vw;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
  }
  
  .wrap__active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 80vw;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-animation: wrap__active 1s ease;
      animation: wrap__active 1s ease;
  }
  
  .wrap__passive {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100vw;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-animation: wrap__passive 1s ease;
      animation: wrap__passive 1s ease;
  }
  
  @-webkit-keyframes wrap__active {
      from {
          width: 100vw;
      }
      to {
          width: 80vw;
      }
  }
  
  @keyframes wrap__active {
      from {
          width: 100vw;
      }
      to {
          width: 80vw;
      }
  }
  
  @-webkit-keyframes wrap__passive {
      from {
          width: 80vw;
      }
      to {
          width: 100vw;
      }
  }
  
  @keyframes wrap__passive {
      from {
          width: 80vw;
      }
      to {
          width: 100vw;
      }
  }
  
  .start-screen {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      height: 90vh;
      width: 100%;
  }
  
  .main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      background: url(img/main.jpg) no-repeat center;
      background-size: cover;
      overflow: hidden;
      position: relative;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      /* animation: main 1s; */
      /* transition: 0.8s; */
  }
  
  .menu {
      height: 100%;
      /* transform: translateX(100%); */
      width: 0vw;
      display: none;
      /* animation: menu 1s; */
      background-color: rgb(9, 36, 32);
      /* transition: 0.8s; */
      position: fixed;
      top: 0px;
      right: 0px;
  }
  
  .menu__active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      /* justify-content: space-around; */
      padding: 100px 0px 100px 0px;
      -ms-flex-line-pack: center;
      align-content: center;
      background-color: #CDD9DC;
      -webkit-box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.35), 0px 0px 50px rgba(0, 0, 0, 0.22);
      box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.35), 0px 0px 50px rgba(0, 0, 0, 0.22);
      width: 20vw;
      -webkit-animation: menu__active 1s ease;
      animation: menu__active 1s ease;
      z-index: 999;
      /* transition: 0.8s; */
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
  }
  
  @-webkit-keyframes menu__active {
      from {
          width: 0vw;
          background-color: rgb(238, 238, 238);
          -webkit-box-shadow: 0px 0px 00px rgba(0, 0, 0, 0.0), 0px 0px 0px rgba(0, 0, 0, 0.0);
          box-shadow: 0px 0px 00px rgba(0, 0, 0, 0.0), 0px 0px 0px rgba(0, 0, 0, 0.0);
      }
      to {
          width: 20vw;
          background-color: #CDD9DC;
          -webkit-box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.35), 0px 0px 50px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.35), 0px 0px 50px rgba(0, 0, 0, 0.22);
      }
  }
  
  @keyframes menu__active {
      from {
          width: 0vw;
          background-color: rgb(238, 238, 238);
          -webkit-box-shadow: 0px 0px 00px rgba(0, 0, 0, 0.0), 0px 0px 0px rgba(0, 0, 0, 0.0);
          box-shadow: 0px 0px 00px rgba(0, 0, 0, 0.0), 0px 0px 0px rgba(0, 0, 0, 0.0);
      }
      to {
          width: 20vw;
          background-color: #CDD9DC;
          -webkit-box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.35), 0px 0px 50px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.35), 0px 0px 50px rgba(0, 0, 0, 0.22);
      }
  }
  
  .menu__active .menu-inner {
      opacity: 1;
      animation: menu-text-appear 1.1s ease-in;
  }
  
  @keyframes menu-text-appear {
      0% {
          opacity: 0;
      }
      60% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
  
  .menu__passive {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: 100px 0px 100px 0px;
      -ms-flex-line-pack: center;
      align-content: center;
      /* background-color: #928D96; */
      background-color: rgb(238, 238, 238);
      -webkit-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px rgba(255, 255, 255, 0);
      box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px rgba(255, 255, 255, 0);
      width: 0vw;
      -webkit-animation: menu__passive 1s ease;
      animation: menu__passive 1s ease;
      z-index: 999;
      /* transition: 0.8s; */
  }
  
  @-webkit-keyframes menu__passive {
      from {
          width: 20vw;
          background-color: #CDD9DC;
          -webkit-box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.35), 0px 0px 50px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.35), 0px 0px 50px rgba(0, 0, 0, 0.22);
      }
      to {
          width: 0vw;
          background-color: rgb(238, 238, 238);
          -webkit-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px rgba(255, 255, 255, 0);
          box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px rgba(255, 255, 255, 0);
      }
  }
  
  @keyframes menu__passive {
      from {
          width: 20vw;
          background-color: #CDD9DC;
          -webkit-box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.35), 0px 0px 50px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.35), 0px 0px 50px rgba(0, 0, 0, 0.22);
      }
      to {
          width: 0vw;
          background-color: rgb(238, 238, 238);
          -webkit-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px rgba(255, 255, 255, 0);
          box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px rgba(255, 255, 255, 0);
      }
  }
  
  .menu__passive .close-menu {
      display: none;
  }
  
  .menu__passive .menu-inner {
      display: none;
  }
  
  .menu__active .close-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
  
  .menu__active .menu-inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
  
  .main__active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 80%;
      height: 100%;
      background: url(img/main.jpg) no-repeat center;
      background-size: cover;
      overflow: hidden;
      position: relative;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-animation: main__active 1s;
      animation: main__active 1s;
      /* transition: 0.8s; */
  }
  
  @-webkit-keyframes main__active {
      from {
          width: 100vw;
      }
      to {
          width: 80vw;
      }
  }
  
  @keyframes main__active {
      from {
          width: 100vw;
      }
      to {
          width: 80vw;
      }
  }
  
  .about {
      padding: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
  }
  
  .about h3 {
      margin: 0px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
  }
  
  .about p {
      padding: 15px 0px;
      border-bottom: solid 1px rgba(0, 0, 0, 0.4);
      border-top: solid 1px rgba(0, 0, 0, 0.4);
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
  }
  
  .about a {
      font-weight: bold;
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      -ms-flex-item-align: end;
      align-self: flex-end;
  }
  
  .contact h3 {
      text-align: left;
      margin: 0px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
  }
  
  .cv {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  }
  
  .cv i {
      color: #fb3958;
      padding: 0px 10px;
  }
  
  .contact p {
      border-top: solid 1px rgba(0, 0, 0, 0.4);
      padding: 15px 0px;
  }
  
  .contact {
      padding: 50px;
  }
  
  .icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 15px 15px;
  }
  
  .icons i {
      font-size: 5rem;
      color: rgb(92, 92, 92);
  }
  
  .icons i:hover {
      color: #fb3958;
      -webkit-transition: 0.5s ease-in;
      transition: 0.5s ease-in;
  }
  
  .about p {
      text-align: justify;
  }
  
  .header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  
  .menu-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 100%;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-left: 15%;
  }
  
  .menu-ham img {
      position: fixed;
      top: 25px;
      right: 25px;
      height: 40px;
      width: auto;
  }
  
  .menu .close-menu {
      position: fixed;
      top: 25px;
      right: 25px;
  }
  
  .menu-ham {
      z-index: 30;
      position: fixed;
      margin-right: 20px;
      padding: 20px 20px;
  }
  
  .menu-ham__active {
      display: none;
  }
  
  .menu a img {
      height: 50px;
      width: auto;
  }
  
  .menu-inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: calc(100vh/3);
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }
  
  .logo {
      padding-right: 20px;
      padding-left: 20px;
      position: fixed;
      top: 0;
      z-index: 1;
  }
  
  .logo h1 {
      font-size: 20px;
  }
  
  .main-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      text-transform: uppercase;
      margin-top: 160px;
      z-index: 100;
  }
  
  .main-text h1 {
      width: 110%;
      text-align: center;
      font-size: 3.5em;
      margin: 0;
      color: white;
      letter-spacing: 0.225em;
      font-weight: bold;
      text-transform: uppercase;
  }
  
  .main-text p {
      color: #fb3958;
      font-weight: bold;
      font-size: 2em;
  }
  
  .loadingp {
      opacity: 0;
      -webkit-transition: 1s ease-in;
      transition: 1s ease-in;
      -webkit-transition-delay: 1.5s;
      transition-delay: 1.5s;
  }
  
  .donep {
      opacity: 1;
      -webkit-transition: 1s ease-in;
      transition: 1s ease-in;
      -webkit-transition-delay: 1.5s;
      transition-delay: 1.5s;
  }
  
  .main-arrow {
      height: 20vh;
  }
  
  .main-arrow img {
      height: 50px;
      width: auto;
  }
  
  .project-screen {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 100vh;
      width: 100%;
      z-index: 2;
  }
  
  .project-header {
      -webkit-box-shadow: inset 0px 15px 25px -15px rgba(100, 100, 100, 1);
      box-shadow: inset 0px 15px 25px -15px rgba(100, 100, 100, 1);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      /* padding-bottom: 50px; */
      /* padding-top: 50px; */
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 10%;
      width: 100%;
      background: rgb(238, 238, 238);
  }
  
  .project-header h2 {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      text-align: center;
      border-bottom: solid 2px rgba(0, 0, 0, 0.125);
      padding-bottom: 5px;
      letter-spacing: 0.225em;
      padding-top: 10px;
      font-family: 'Jura', sans-serif;
      font-weight: bold;
      font-size: 2.7rem;
  }
  
  .project-header p {
      margin-top: 0px;
      font-size: 1.7rem;
  }
  
  .grid {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      height: 80%;
      background: rgb(238, 238, 238);
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  
  .l-grid-image {
      height: 100%;
  }
  
  .grid-center {
      width: 70%;
      height: 95%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
  
  .desc-center {
      width: 70%;
      height: 95%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      /* background: white; */
  }
  
  .left-container {
      width: 60%;
      margin: 0 15;
      /* height: 85%; */
      height: 100%;
  }
  
  .right-container {
      width: 40%;
      margin: 0 15;
      /* height: 85%; */
      height: 100%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: box-shadow 1s cubic-bezier(.25, .8, .25, 1);
  }
  
  .right-container:hover,
  .one-left:hover,
  .s-left:hover,
  .f-left:hover {
      cursor: pointer;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  
  .close-des img:hover {
      cursor: pointer;
  }
  
  .one-left {
      /* height: 50%; */
      height: calc(50% - 15px);
      margin: 0 0 0 0;
      background-origin: content-box;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: box-shadow 1s cubic-bezier(.25, .8, .25, 1);
  }
  
  .dis-main .one-left,
  .dis-main .s-left,
  .dis-main .f-left,
  .dis-main .right-container {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
      transition: box-shadow 1s cubic-bezier(.25, .8, .25, 1);
  }
  
  .two-left {
      width: 100%;
      /* height: 50%; */
      margin: 30 0 0 0;
      height: calc(50% - 15px);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
  }
  /* .grid-center .two-left {
     margin: 30 0 0 0;
     -webkit-animation: two-left-marg 0.5s ease-in;
     animation: two-left-marg 0.5s ease-in;
 }
 

 
 @keyframes two-left-marg {
     from {
         margin: 0 0 0 0;
     }
     to {
         margin: 30 0 0 0;
     }
 } */
  
  .f-left {
      /* width: 50%; */
      width: calc(50% - 15px);
      margin: 0 30 0 0;
      height: 100%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: box-shadow 1s cubic-bezier(.25, .8, .25, 1);
  }
  
  .s-left {
      /* width: 50%; */
      width: calc(50% - 15px);
      height: 100%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: box-shadow 1s cubic-bezier(.25, .8, .25, 1);
  }
  
  .myimages {
      height: calc(100% - 33px);
      background-size: cover !important;
      /* margin: 15px 15px 0px 15px; */
  }
  
  .myimages:hover {
      /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  }
  
  .q-img {
      position: relative;
      background: rgb(255, 255, 255);
  }
  
  .q-img::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: url(img/1.jpg) no-repeat center;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-size: cover !important;
      /* transition: opacity 0.5s ease-in; */
  }
  
  .g-img {
      position: relative;
      background: rgb(255, 255, 255);
  }
  
  .g-img::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: url(img/3p.jpg) no-repeat center;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-size: cover !important;
      /* transition: opacity 0.5s ease-in; */
  }
  
  .d-img {
      position: relative;
      background: rgb(255, 255, 255);
  }
  
  .d-img::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: url(img/2.gif) no-repeat center;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-size: cover !important;
      /* transition: opacity 0.5s ease-in; */
  }
  
  .p-img {
      position: relative;
      background: rgb(255, 255, 255);
  }
  
  .p-img::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: url(img/4.jpg) no-repeat center;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-size: cover !important;
      /* transition: opacity 0.5s ease-in; */
  }
  
  .quailMain {
      position: relative;
      background: rgb(255, 255, 255);
      /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
      -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  
  .quailMain::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: url(img/1.jpg) no-repeat center;
      width: 100%;
      height: 100%;
      opacity: 1;
      background-size: cover !important;
      /* transition: opacity 0.5s ease-in; */
  }
  
  .dragonMain {
      position: relative;
      background: rgb(255, 255, 255);
      /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
      -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  
  .dragonMain::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: url(img/2.gif) no-repeat center;
      width: 100%;
      height: 100%;
      opacity: 1;
      background-size: cover !important;
      /* transition: opacity 1s ease-in; */
  }
  
  .animations {
      position: relative;
      background: rgb(255, 255, 255);
      /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
      -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  
  .animations::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: url(img/3.jpg) no-repeat center;
      width: 100%;
      height: 100%;
      opacity: 1;
      background-size: cover !important;
      /* transition: opacity 1s ease-in; */
  }
  
  .portfolio {
      background: rgb(255, 255, 255);
      /* height: 95%; */
      /* margin: 15px 15px 0px 15px; */
      /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
      position: relative;
      -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  
  .portfolio::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: url(img/4.jpg) no-repeat center;
      width: 100%;
      height: 100%;
      opacity: 1;
      background-size: cover !important;
      /* transition: opacity 1s ease-in; */
  }
  
  .opac::before {
      opacity: 0;
      -webkit-transition: opacity 1s ease-in;
      transition: opacity 1s ease-in;
  }
  
  .portfolio-title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 33px;
      font-size: 1.3rem;
      text-transform: uppercase;
      text-align: center;
      /* border: 1px solid red; */
      /* margin: 0px 15px 15px 15px; */
      /* margin: 0px 0px !important; */
      /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
      -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      background: white;
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      font-weight: 300;
  }
  
  .project-title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 33px;
      font-size: 1.3rem;
      /* margin: 0px 0px !important; */
      text-transform: uppercase;
      text-align: center;
      /* margin: 0px 15px 15px 15px; */
      /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
      -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      background: white;
      font-weight: 300;
  }
  
  .project-title:hover {
      /* -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
      /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  }
  
  h2 {
      margin: 0px 0px !important;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      letter-spacing: 0.125em;
  }
  
  .footer h4 {
      font-family: 'Libre Barcode 39 Extended Text', regular;
      font-size: 3.5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0px !important;
      font-weight: normal;
  }
  
  .footer {
      z-index: 100;
      background: #eeeeee;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 10%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  
  .window-description {
      /* padding: 15px 15px 15px 15px; */
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      /* border: 1px solid red; */
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  
  .gap {
      width: 100%;
      height: 100%;
      /* margin-bottom: 165px; */
      /* border: 1px solid blue; */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      /* background: white; */
  }
  
  .description-img {
      height: calc(100% - 30px);
      width: 55%;
      background-size: cover !important;
      margin: 0 0;
      transition: box-shadow 0.6s cubic-bezier(.25, .8, .25, 1);
  }
  
  .test-shadow {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
      transition: box-shadow 0.6s cubic-bezier(.25, .8, .25, 1);
  }
  /* .dis .description-img {
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
     transition: box-shadow 3s cubic-bezier(.25, .8, .25, 1);
 } */
  /* .desc-center .description-img {
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
     transition: box-shadow 3s cubic-bezier(.25, .8, .25, 1);
 } */
  
  .description-text {
      width: 45%;
      height: 100%;
      margin: 0 15;
      /* margin: 0px 10px 0px 10px; */
  }
  
  .mytext {
      text-align: justify;
      height: calc(60% - 30px);
      margin: 0px 0px 30px 0px;
      background: white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: box-shadow 0.6s cubic-bezier(.25, .8, .25, 1);
  }
  
  .mytext h2 {
      padding: 15px 30px;
  }
  
  .mytext p {
      padding: 10px 30px;
  }
  
  .links-text {
      height: 40%;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: box-shadow 0.6s cubic-bezier(.25, .8, .25, 1);
  }
  
  .links-text p,
  h3 {
      margin: 10px 10px;
  }
  
  .links-text a {
      color: black;
      text-decoration: none;
      -webkit-transition: 0.5s ease-in;
      transition: 0.5s ease-in;
  }
  
  .links-text a:hover {
      color: #fb3958;
      -webkit-transition: 0.5s ease-in;
      transition: 0.5s ease-in;
  }
  
  .cv a:hover {
      color: #fb3958;
      -webkit-transition: 0.5s ease-in;
      transition: 0.5s ease-in;
  }
  
  .contact a {
      color: black;
      text-decoration: none;
      -webkit-transition: 0.5s ease-in;
      transition: 0.5s ease-in;
  }
  
  .contact a:hover {
      color: #fb3958;
      -webkit-transition: 0.5s ease-in;
      transition: 0.5s ease-in;
  }
  
  .passive {
      display: none;
  }
  
  .active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      z-index: 10;
  }
  
  .close-des {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
  }
  
  .close-des img {
      height: 50px;
      width: auto;
  }
  /* ////////////////animations/////////////// */
  
  .loading h1:before {
      -webkit-transition: -webkit-transform 0.5s ease;
      transition: -webkit-transform 0.5s ease;
      transition: transform 0.5s ease;
      transition: transform 0.5s ease, -webkit-transform 0.5s ease;
      -webkit-transition-delay: 2s;
      transition-delay: 2s;
      background: #fff;
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: left;
      transform-origin: left;
      /* width: 0%; */
  }
  
  .loading h1:after {
      -webkit-transition: -webkit-transform 0.5s ease;
      transition: -webkit-transform 0.5s ease;
      transition: transform 0.5s ease;
      transition: transform 0.5s ease, -webkit-transform 0.5s ease;
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.25s;
      background: #fff;
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      /* width: 0%; */
  }
  
  .done h1:before {
      -webkit-transition: -webkit-transform 1.5s ease;
      transition: -webkit-transform 1.5s ease;
      transition: transform 1.5s ease;
      transition: transform 1.5s ease, -webkit-transform 1.5s ease;
      -webkit-transition-delay: 1s;
      transition-delay: 1s;
      background: #fff;
      content: '';
      display: block;
      height: 2px;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transform-origin: left;
      transform-origin: left;
      /* width: 100%; */
  }
  
  .done h1:after {
      -webkit-transition: -webkit-transform 1.5s ease;
      transition: -webkit-transform 1.5s ease;
      transition: transform 1.5s ease;
      transition: transform 1.5s ease, -webkit-transform 1.5s ease;
      -webkit-transition-delay: 1s;
      transition-delay: 1s;
      background: #fff;
      content: '';
      display: block;
      height: 2px;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transform-origin: right;
      transform-origin: right;
      /* width: 100%; */
  }
  
  .main-text h1:before {
      top: 0;
      left: 0;
      margin: 10px 0px;
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.25s;
  }
  
  .main-text h1:after {
      bottom: 0;
      right: 0;
      margin: 10px 0px;
      -webkit-transition-delay: 0.25s;
      transition-delay: 0.25s;
      /* animation-name: appear; */
      /* animation-timing-function: ease-out; */
      /* transform-origin: 0% 0%; */
  }
  
  .main-text h1 {
      -webkit-transition: opacity 1.5s ease-in;
      transition: opacity 1.5s ease-in;
      opacity: 1;
      -webkit-animation: appear 1.5s;
      animation: appear 1.5s;
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
  }
  
  @-webkit-keyframes appear {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  
  @keyframes appear {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  
  .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: black;
      opacity: 1;
      overflow: hidden;
  }
  
  .overloading {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: black;
      opacity: 1;
      overflow: hidden;
      /* animation: overlay 5s ease-in; */
      /* transition: opacity 5s, z-index 5s; */
      ;
  }
  
  .overdone {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: black;
      opacity: 0;
      overflow: hidden;
      -webkit-animation: overlay 4s ease-in;
      animation: overlay 4s ease-in;
      /* transition: opacity 5s, z-index 5s; */
      /* animation-delay: 2s; */
  }
  
  @-webkit-keyframes overlay {
      0% {
          opacity: 1;
          background: black;
          z-index: 1;
      }
      50% {
          opacity: 1;
          background: black;
          z-index: 1;
      }
      85% {
          opacity: 0.4;
          background: black;
          z-index: 1;
      }
      100% {
          opacity: 0;
          background: black;
          z-index: 1;
      }
  }
  
  @keyframes overlay {
      0% {
          opacity: 1;
          background: black;
          z-index: 1;
      }
      50% {
          opacity: 1;
          background: black;
          z-index: 1;
      }
      85% {
          opacity: 0.4;
          background: black;
          z-index: 1;
      }
      100% {
          opacity: 0;
          background: black;
          z-index: 1;
      }
  }
  /* ////////////////////simplified grid//////////////////////////////// */
  
  .grid * {
      /* margin: 0px 0px !important; */
      /* padding: 0px 0px !important; */
  }
  
  .grid-center {
      /* background: white; */
  }
  
  .portfolio {
      /* height: 95%; */
  }
  
  .project-title {
      /* height: 15%; */
  }
  
  .myimagesoff {
      /* transition: 0.3s ease-in-out; */
      background: white;
  }
  
  .project-title,
  .portfolio-title {
      /* color: white; */
  }
  
  .project-title,
  .myimages,
  .portfolio-title {
      /* box-shadow: none; */
  }
  
  .grid-center:hover * {
      /* -webkit-box-shadow: none !important; */
      /* box-shadow: none !important; */
  }
  
  .gap * {
      /* display: none; */
  }
  
  .gap {
      /* background: white; */
      /* height: calc(80%*95%*85%); */
  }
  
  .window-description {
      /* padding: 0px !important; */
  }
  /* //h2 opacity// */
  
  .h2off {
      opacity: 0;
  }
  /* /////////descriptions///////////////////////////////////////////////////////////// */
  
  .description-img {
      /* background: white; */
      /* margin: 0px 0px 0px 0px; */
  }
  
  .description-text,
  .description-text * {
      /* margin: 0px 0px 0px 0px; */
  }
  
  .description-text .mytext {
      /* height: 60%; */
  }
  
  .mytext *,
  .links-text * {
      opacity: 1;
  }
  /* ///////////////////////////////// */
  
  .desc-center .left-container,
  .desc-center .right-container {
      display: none;
  }
  
  .desc-center .visible {
      opacity: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      /* animation: showUp 0.5s ease-in; */
  }
  
  @-webkit-keyframes showUp {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  
  @keyframes showUp {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  
  .gap * {
      margin: 0 0 0 0;
  }
  /* /////////////////////////////description window////////////////////////////// */
  
  .desc-center .description-text {
      margin: 0 15;
      -webkit-animation: marg_in 0.7s ease-in;
      animation: marg_in 0.7s ease-in;
  }
  
  .desc-center .description-img {
      margin: 0 15;
      height: calc(100% - 30px);
      animation: desc-img-minheight 0.7s ease-in;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);
  }
  
  @-webkit-keyframes desc-img-minheight {
      from {
          height: 100%;
          margin: 0 0;
      }
      to {
          height: calc(100% - 30px);
          margin: 0 15;
      }
  }
  
  @keyframes desc-img-minheight {
      from {
          height: 100%;
          margin: 0 0;
      }
      to {
          height: calc(100% - 30px);
          margin: 0 15;
      }
  }
  
  @-webkit-keyframes marg_in {
      from {
          margin: 0 0;
      }
      to {
          margin: 0 15;
      }
  }
  
  @keyframes marg_in {
      from {
          margin: 0 0;
      }
      to {
          margin: 0 15;
      }
  }
  
  .desc-center .mytext {
      margin: 0 0 30 0;
      height: calc(60% - 60px);
      -webkit-animation: marg_text 0.7s ease-in;
      animation: marg_text 0.7s ease-in;
  }
  
  @-webkit-keyframes marg_text {
      from {
          margin: 0 0 0 0;
          height: 60%;
      }
      to {
          margin: 0 0 30 0;
          height: calc(60% - 60px);
      }
  }
  
  @keyframes marg_text {
      from {
          margin: 0 0 0 0;
          height: 60%;
      }
      to {
          margin: 0 0 30 0;
          height: calc(60% - 60px);
      }
  }
  
  .desc-center .description-img::before,
  .desc-center .mytext *,
  .desc-center .links-text * {
      opacity: 1;
      -webkit-animation: imgtex_show 1s ease-in;
      animation: imgtex_show 1s ease-in;
      /* animation-delay: 1s; */
  }
  
  @-webkit-keyframes imgtex_show {
      0% {
          opacity: 0;
      }
      50% {
          opacity: 0.0;
      }
      100% {
          opacity: 1;
      }
  }
  
  @keyframes imgtex_show {
      0% {
          opacity: 0;
      }
      50% {
          opacity: 0.0;
      }
      100% {
          opacity: 1;
      }
  }
  /* ///////////main disappear on click//////////////// */
  
  .disapp:before {
      opacity: 0;
      -webkit-animation: disapp 1s ease-in;
      animation: disapp 1s ease-in;
  }
  
  @-webkit-keyframes disapp {
      from {
          opacity: 1
      }
      to {
          opacity: 0
      }
  }
  
  @keyframes disapp {
      from {
          opacity: 1
      }
      to {
          opacity: 0
      }
  }
  
  .appear:before,
  h2 {
      opacity: 1;
      -webkit-animation: appear 1s ease-in;
      animation: appear 1s ease-in;
  }
  
  @keyframes appear {
      from {
          opacity: 0
      }
      to {
          opacity: 1
      }
  }
  
  .dis .mytext {
      margin: 0px 0px;
      height: 60%;
      -webkit-animation: descr_height_mytext 1.7s ease-in;
      animation: descr_height_mytext 1.7s ease-in;
  }
  
  .dis .description-text {
      margin: 0px 0px;
      -webkit-animation: descr_marg 1.7s ease-in;
      animation: descr_marg 1.7s ease-in;
  }
  
  .dis .description-img {
      height: 100%;
      margin: 0px 0px;
      -webkit-animation: descr_height_img 1.7s ease-in;
      animation: descr_height_img 1.7s ease-in;
  }
  
  .dis .description-img::before {
      opacity: 0;
      -webkit-animation: disapp 1s ease-in;
      animation: disapp 1s ease-in;
  }
  
  .dis .mytext h2,
  .dis .mytext p,
  .dis .links-text p,
  .dis .links-text h3 {
      opacity: 0;
      -webkit-animation: disapp 1s ease-in;
      animation: disapp 1s ease-in;
  }
  
  @-webkit-keyframes descr_marg {
      0% {
          margin: 0 15;
      }
      75% {
          margin: 0 15;
      }
      100% {
          margin: 0 0;
      }
  }
  
  @keyframes descr_marg {
      0% {
          margin: 0 15;
      }
      75% {
          margin: 0 15;
      }
      100% {
          margin: 0 0;
      }
  }
  
  @-webkit-keyframes descr_height_mytext {
      0% {
          margin: 0 0 30 0;
          height: calc(60% - 60px);
      }
      75% {
          margin: 0 0 30 0;
          height: calc(60% - 60px);
      }
      100% {
          margin: 0 0 0 0;
          height: 60%;
      }
  }
  
  @keyframes descr_height_mytext {
      0% {
          margin: 0 0 30 0;
          height: calc(60% - 60px);
      }
      75% {
          margin: 0 0 30 0;
          height: calc(60% - 60px);
      }
      100% {
          margin: 0 0 0 0;
          height: 60%;
      }
  }
  
  @keyframes descr_height_img {
      0% {
          margin: 0px 15px;
          height: calc(100% - 30px);
      }
      70% {
          margin: 0px 15px;
          height: calc(100% - 30px);
      }
      100% {
          height: 100%;
          margin: 0px 0px;
      }
  }
  
  .dis-main .myimages::before,
  .dis-main h2 {
      opacity: 0;
      -webkit-animation: main_img_dis 1s ease-in;
      animation: main_img_dis 1s ease-in;
  }
  
  @-webkit-keyframes main_img_dis {
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }
  
  @keyframes main_img_dis {
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }
  
  .dis-main .marg-cont {
      margin: 0 0;
      -webkit-animation: marg-cont 0.5s ease-in;
      animation: marg-cont 0.5s ease-in;
  }
  
  @-webkit-keyframes marg-cont {
      from {
          margin: 0 15;
      }
      to {
          margin: 0 0;
      }
  }
  
  @keyframes marg-cont {
      from {
          margin: 0 15;
      }
      to {
          margin: 0 0;
      }
  }
  
  .dis-main .f-cont {
      margin: 0 0 0 0;
      width: calc(50% + 15px);
      -webkit-animation: f-cont 0.5s ease-in;
      animation: f-cont 0.5s ease-in;
  }
  
  .dis-main .two-cont {
      margin: 0 0 0 0;
      -webkit-animation: two-cont 0.5s ease-in;
      animation: two-cont 0.5s ease-in;
  }
  
  @-webkit-keyframes f-cont {
      from {
          margin: 0 30 0 0;
          width: calc(50% - 15px);
      }
      to {
          margin: 0 0 0 0;
          width: calc(50% + 15px);
      }
  }
  
  @keyframes f-cont {
      from {
          margin: 0 30 0 0;
          width: calc(50% - 15px);
      }
      to {
          margin: 0 0 0 0;
          width: calc(50% + 15px);
      }
  }
  
  @-webkit-keyframes two-cont {
      from {
          margin: 30 0 0 0;
      }
      to {
          margin: 0 0 0 0;
      }
  }
  
  @keyframes two-cont {
      from {
          margin: 30 0 0 0;
      }
      to {
          margin: 0 0 0 0;
      }
  }
  
  .two-cont-reverse {
      margin: 30 0 0 0;
      height: calc(50% - 15px);
      -webkit-animation: two-cont-reverse 0.5s ease-in;
      animation: two-cont-reverse 0.5s ease-in;
  }
  
  @-webkit-keyframes two-cont-reverse {
      from {
          height: 50%;
          margin: 0 0 0 0;
      }
      to {
          height: calc(50% - 15px);
          margin: 30 0 0 0;
      }
  }
  
  @keyframes two-cont-reverse {
      from {
          height: 50%;
          margin: 0 0 0 0;
      }
      to {
          height: calc(50% - 15px);
          margin: 30 0 0 0;
      }
  }
  
  .f-cont-reverse {
      margin: 0 30 0 0;
      width: calc(50% - 15px);
      -webkit-animation: f-cont 0.51s ease-in;
      animation: f-cont-reverse 0.51s ease-in;
  }
  
  @keyframes f-cont-reverse {
      from {
          margin: 0 0 0 0;
          width: calc(50% + 15px);
      }
      to {
          margin: 0 30 0 0;
          width: calc(50% - 15px);
      }
  }
  
  .marg-cont-reverse {
      margin: 0 15;
      -webkit-animation: marg-cont 0.51s ease-in;
      animation: marg-cont-reverse 0.51s ease-in;
  }
  
  @keyframes marg-cont-reverse {
      from {
          margin: 0 0;
      }
      to {
          margin: 0 15;
      }
  }
  
  .for-one-left .one-left {
      height: calc(50% + 15px);
      -webkit-animation: one-two-left-height 0.5s ease-in;
      animation: one-two-left-height 0.5s ease-in;
  }
  /* .dis-main .one-left {
     height: calc(50% + 15px);
     animation: one-two-left-height 0.5s ease-in;
 } */
  
  @-webkit-keyframes one-two-left-height {
      from {
          height: calc(50% - 15px);
      }
      to {
          height: calc(50% + 15px);
      }
  }
  
  @keyframes one-two-left-height {
      from {
          height: calc(50% - 15px);
      }
      to {
          height: calc(50% + 15px);
      }
  }
  /*.two-cont .f-left,*/
  
  .one-left-height-reverse {
      height: calc(50% - 15px);
      -webkit-animation: one-two-left-reverse 0.5s ease-in;
      animation: one-two-left-reverse 0.5s ease-in;
  }
  
  @-webkit-keyframes one-two-left-reverse {
      from {
          height: 50%;
      }
      to {
          height: calc(50% - 15px);
      }
  }
  
  @keyframes one-two-left-reverse {
      from {
          height: 50%;
      }
      to {
          height: calc(50% - 15px);
      }
  }
  
  .two-left-height-reverse {
      height: calc(50% - 15px) !important;
      margin: 30 0 0 0 !important;
      animation: two-left-height-reverse 0.5s ease-in;
  }
  
  @keyframes two-left-height-reverse {
      from {
          height: 50%;
          margin: 0 0 0 0;
      }
      to {
          height: calc(50% - 15px);
          margin: 30 0 0 0;
      }
  }
  
  .two-cont .s-left {
      width: calc(50% - 15px);
      -webkit-animation: f-s-left-width 0.5s ease-in;
      animation: f-s-left-width 0.5s ease-in;
  }
  
  @-webkit-keyframes f-s-left-width {
      from {
          width: calc(50% - 15px);
      }
      to {
          width: calc(50% - 15px);
      }
  }
  
  @keyframes f-s-left-width {
      from {
          width: calc(50% - 15px);
      }
      to {
          width: calc(50% - 15px);
      }
  }
  
  .dis .f-left {
      margin: 0 30 0 0;
      -webkit-animation: f-left-main 0.5s ease-in;
      animation: f-left-main 0.5s ease-in;
  }
  
  @-webkit-keyframes f-left-main {
      from {
          margin: 0 0 0 0;
      }
      to {
          margin: 0 30 0 0;
      }
  }
  
  @keyframes f-left-main {
      from {
          margin: 0 0 0 0;
      }
      to {
          margin: 0 30 0 0;
      }
  }
  /* ///////////RESPOSIVE//////////////// */
  
  .mytext h2 {
      font-size: 2.5rem;
  }
  
  .mytext p {
      font-size: 1.8rem;
  }
  
  .links-text h3 {
      font-size: 1.8rem;
  }
  
  .links-text p {
      font-size: 1.5rem;
  }
  
  .about h3 {
      font-size: 2rem;
  }
  
  .about p {
      font-size: 1.8rem;
  }
  
  .about a {
      font-size: 1.8rem;
  }
  
  .cv i {
      font-size: 2rem;
  }
  
  .contact h3 {
      font-size: 2rem;
  }
  
  .contact a {
      font-size: 1.8rem;
  }
  
  .p-gallery {
      display: none;
  }
  
  .p-project-header {
      display: none;
  }
  
  .p-footer {
      display: none;
  }
  
  @media(max-width:1440px) {
      html {
          font-size: 6px;
      }
      .mytext h2 {
          padding: 0px 30px;
      }
      .close-des img {
          height: 40px;
      }
      .menu a img {
          height: 40px;
      }
      /* .project-screen {
       display: none;
   } */
      .menu-ham img {
          height: 30px;
      }
  }
  
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width:1440px),
  only screen and (min-device-pixel-ratio: 2) and (max-width:1440px) {
      html {
          font-size: 20px;
      }
  }
  
  @keyframes wrap__activeMini {
      from {
          width: 100vw;
      }
      to {
          width: 0vw;
      }
  }
  
  @keyframes menu__activeMini {
      from {
          width: 0vw;
          background-color: rgb(238, 238, 238);
          -webkit-box-shadow: 0px 0px 00px rgba(0, 0, 0, 0.0), 0px 0px 0px rgba(0, 0, 0, 0.0);
          box-shadow: 0px 0px 00px rgba(0, 0, 0, 0.0), 0px 0px 0px rgba(0, 0, 0, 0.0);
      }
      to {
          width: 100vw;
          background-color: #CDD9DC;
          -webkit-box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.35), 0px 0px 50px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.35), 0px 0px 50px rgba(0, 0, 0, 0.22);
      }
  }
  
  @keyframes menu__passiveMini {
      from {
          width: 100vw;
          background-color: #CDD9DC;
          -webkit-box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.35), 0px 0px 50px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.35), 0px 0px 50px rgba(0, 0, 0, 0.22);
      }
      to {
          width: 0vw;
          background-color: rgb(238, 238, 238);
          -webkit-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px rgba(255, 255, 255, 0);
          box-shadow: 0px 0px 0px rgba(255, 255, 255, 0), 0px 0px 0px rgba(255, 255, 255, 0);
      }
  }
  
  @keyframes wrap__passiveMini {
      from {
          width: 0vw;
      }
      to {
          width: 100vw;
      }
  }
  
  @media(max-width:991px) {
      html {
          font-size: 7.5px;
      }
      /* menu */
      .wrap__active {
          width: 0vw;
          animation: wrap__activeMini 1s ease;
      }
      .menu__active {
          width: 100vw !important;
          animation: menu__activeMini 1s ease;
      }
      .menu__passive {
          animation: menu__passiveMini 1s ease;
      }
      .wrap__passive {
          animation: wrap__passiveMini 1s ease;
      }
      /* footer */
      .footer {
          z-index: -100;
      }
      .p-footer h4 {
          font-family: 'Libre Barcode 39 Extended Text', regular;
          font-size: 3.5rem;
          display: flex;
          justify-content: center;
          margin: 0px !important;
          font-weight: normal;
      }
      .p-footer {
          z-index: -100;
          background: #eeeeee;
          display: flex;
          height: 10%;
          justify-content: center;
          align-items: center;
      }
      /*header*/
      .p-project-header {
          box-shadow: inset 0px 15px 25px -15px rgba(100, 100, 100, 1);
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          /* padding-bottom: 50px; */
          /* padding-top: 50px; */
          align-items: center;
          height: 10%;
          width: 100%;
          background: rgb(238, 238, 238);
      }
      .p-project-header h2 {
          width: fit-content;
          text-align: center;
          border-bottom: solid 2px rgba(0, 0, 0, 0.125);
          padding-bottom: 5px;
          letter-spacing: 0.225em;
          padding-top: 10px;
          font-family: 'Jura', sans-serif;
          font-weight: bold;
          font-size: 2.7rem;
      }
      .p-project-header p {
          margin-top: 0px;
          font-size: 1.7rem;
      }
      .project-screen {
          display: none;
      }
      .p-gallery {
          display: flex;
          flex-direction: column;
          width: 100%;
          /* border: 2px solid red; */
          align-items: center;
          margin-top: 20px;
          margin-bottom: 40px;
      }
      /* .p-gallery-padding {
    display: flex;
    width: 80%;
    border: 2px solid green;
    height: 100%;
} */
      .p-project {
          height: 90vh;
          /* border: 2px solid blue; */
          width: 90%;
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
      }
      .p-myimage {
          /* border: 2px solid green; */
          height: 65%;
          width: 100%;
          background: url(img/2-2.jpg) no-repeat center;
      }
      .p-myimage-dr {
          /* border: 2px solid green; */
          height: 65%;
          width: 100%;
          background: url(img/2.jpg) no-repeat center;
      }
      .p-myimage-g {
          /* border: 2px solid green; */
          height: 65%;
          width: 100%;
          background: url(img/3-p.jpg) no-repeat center;
      }
      .p-myimage-po {
          /* border: 2px solid green; */
          height: 65%;
          width: 100%;
          background: url(img/4-p.jpg) no-repeat center;
      }
      .p-project-title {
          text-align: center;
          align-items: center;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          background: white;
      }
      .p-links-text a {
          color: black;
          text-decoration: none;
          transition: 0.5s ease-in;
          font-size: 1.7rem;
          /*        
           color: #fb3958;
           transition: 0.5s ease-in; */
      }
      .p-links-text {
          font-size: 1.7rem;
      }
      .p-links-text h3 {
          /* margin: 0px 0px; */
      }
      .p-project-title p {
          padding: 0px 10px;
          font-size: 1.7rem;
          margin: 6px;
      }
      .p-project-title h2 {
          padding: 10px 0px 0px;
          font-size: 2rem;
      }
  }