*,
*:before,
*:after {
    box-shadow: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", Helvetica, sans-serif;
    overflow-x: hidden;
}

.full {
    display: flex;
    flex-direction: row;
}

.wrap {
    display: flex;
    width: 100vw;
    flex-direction: column;
    /* animation-direction: alternate; */
    /* animation: wrap 1s; */
}


/* @keyframes wrap {
    from {
        width: 80vw;
    }
    to {
        width: 100vw;
    }
} */

.wrap__active {
    display: flex;
    width: 80vw;
    flex-direction: column;
    animation: wrap__active 1s;
}

.wrap__passive {
    display: flex;
    width: 100vw;
    flex-direction: column;
    animation: wrap__passive 1s;
}

@keyframes wrap__active {
    from {
        width: 100vw;
    }
    to {
        width: 80vw;
    }
}

@keyframes wrap__passive {
    from {
        width: 80vw;
    }
    to {
        width: 100vw;
    }
}

.start-screen {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: url(img/main.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    align-items: center;
    /* animation: main 1s; */
    /* transition: 0.8s; */
}


/* @keyframes main {
    from {
        width: 80vw;
    }
    to {
        width: 100vw;
    }
} */

.menu {
    height: 100%;
    /* transform: translateX(100%); */
    width: 0vw;
    display: none;
    /* animation-direction: alternate; */
    /* animation: menu 1s; */
    background-color: rgb(9, 36, 32);
    /* transition: 0.8s; */
    position: fixed;
    top: 0px;
    right: 0px;
}


/* @keyframes menu {
    from {
        width: 20vw;
    }
    to {
        width: 0vw;
    }
} */

.menu__active {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 100px 0px 100px 0px;
    align-content: center;
    background-color: rgb(49, 196, 176);
    width: 20vw;
    animation: menu__active 1s;
    /* transition: 0.8s; */
}

@keyframes menu__active {
    from {
        width: 0vw;
        background-color: rgb(9, 36, 32);
        ;
    }
    to {
        width: 20vw;
        background-color: rgb(49, 196, 176);
        ;
    }
}

.menu__passive {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 100px 0px 100px 0px;
    align-content: center;
    background-color: rgb(9, 36, 32);
    width: 0vw;
    animation: menu__passive 1s;
    /* transition: 0.8s; */
}

@keyframes menu__passive {
    from {
        width: 20vw;
        background-color: rgb(49, 196, 176);
    }
    to {
        width: 0vw;
        background-color: rgb(9, 36, 32);
    }
}

.menu__passive .close-menu {
    display: none;
}

.menu__passive .menu-inner {
    display: none;
}

.menu__active .close-menu {
    display: flex;
}

.menu__active .menu-inner {
    display: flex;
}

.main__active {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    background: url(img/main.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    align-items: center;
    animation: main__active 1s;
    /* transition: 0.8s; */
}

@keyframes main__active {
    from {
        width: 100vw;
    }
    to {
        width: 80vw;
    }
}

.header {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding-left: 15%;
}

.menu-ham img {
    position: fixed;
    top: 25px;
    right: 25px;
    height: 40px;
    width: auto;
}

.menu .close-menu {
    position: fixed;
    top: 25px;
    right: 25px;
}

.menu-ham {
    position: fixed;
    margin-right: 20px;
    padding: 20px 20px;
}

.menu-ham__active {
    display: none;
}

.menu a img {
    height: 50px;
    width: auto;
}

.menu-inner {
    display: flex;
    height: calc(100vh/3);
    justify-content: center;
}

.logo {
    padding-right: 20px;
    padding-left: 20px;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    margin-top: 75px;
}

.main-text h1 {
    font-size: 1.75em;
    margin: 0;
    color: white;
    letter-spacing: 0.225em;
    font-weight: bold;
    text-transform: uppercase;
    /* border: 3px solid white; */
    padding: 15px 20px 15px 20px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.main-text p {
    color: #fb3958;
    font-weight: 400;
}

.main-arrow {
    height: 20vh;
}

.main-arrow img {
    height: 50px;
    width: auto;
}

.project-screen {
    display: flex;
    flex-direction: column;
}

.grid {
    /* padding-right: 10%;
    padding-left: 10%; */
    display: flex;
    flex-direction: row;
    height: fit-content;
    /* border: 2px solid red; */
    justify-content: center;
}

.project-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    align-items: center;
}

.project-header h2 {
    width: fit-content;
    text-align: center;
    border-bottom: solid 2px rgba(0, 0, 0, 0.125);
    padding-bottom: 20px;
    letter-spacing: 0.225em;
}

.project-header p {
    margin-top: 0px;
}

.columns {
    width: 310px;
    /* border: 2px solid blue; */
}

.project-image {
    height: 500px;
    display: flex;
    justify-content: center;
    /* border: 2px solid green; */
}

.rect {
    height: 440px;
    padding: 5px 5px 5px 5px;
    display: flex;
    align-items: flex-end;
}

.sq {
    height: 320px;
    padding: 5px 5px 5px 5px;
    display: flex;
    align-items: flex-end;
}

.s-f {
    max-height: 300px;
    max-width: 300px;
    background: url(img/2-1.jpg) no-repeat center !important;
    background-size: cover;
}

.t-s {
    max-height: 300px;
    max-width: 300px;
    background: url(img/3-2.jpg) no-repeat center !important;
    background-size: cover;
}

.t-s:hover {
    max-height: 300px;
    max-width: 300px;
    background: url(img/3-2g.gif) no-repeat center !important;
    background-size: cover;
    transition: 1s;
}

.f-s {
    max-height: 300px;
    max-width: 300px;
    background: url(img/1-2.jpg) no-repeat center !important;
    background-size: cover;
}

.f-fourth {
    max-height: 300px;
    max-width: 300px;
    background: url(img/1-4.jpg) no-repeat center !important;
    background-size: cover;
}

.s-t {
    max-height: 300px;
    max-width: 300px;
    background: url(img/2-3.jpg) no-repeat center !important;
    background-size: cover;
}

.t-fourth {
    max-height: 300px;
    max-width: 300px;
    background: url(img/3-4.jpg) no-repeat center !important;
    background-size: cover;
}


/* rect */

.s-s {
    max-height: 420px;
    max-width: 300px;
    background: url(img/2-2.jpg) no-repeat center !important;
    background-size: cover;
}

.f-f {
    max-height: 420px;
    max-width: 300px;
    background: url(img/1-1.jpg) no-repeat center !important;
    background-size: cover;
}

.t-f {
    max-height: 420px;
    max-width: 300px;
    background: url(img/3-1.jpg) no-repeat center !important;
    background-size: cover;
}

.t-f:hover {
    max-height: 420px;
    max-width: 300px;
    background: url(img/3-1g.gif) no-repeat center !important;
    background-size: cover;
    transition: 1s;
}

h3 {
    color: white;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 30px;
    margin-bottom: 0;
}

.t-t {
    max-height: 420px;
    max-width: 300px;
    background: url(img/3-3.jpg) no-repeat center !important;
    background-size: cover;
}

.f-t {
    max-height: 420px;
    max-width: 300px;
    background: url(img/1-3.jpg) no-repeat center !important;
    background-size: cover;
}

.s-fourth {
    max-height: 420px;
    max-width: 300px;
    background: url(img/2-4.jpg) no-repeat center !important;
    background-size: cover;
}

.des-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
}

.description {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80vh;
    height: 90vh;
    background: white;
}

.description-h {
    margin: 30px 0px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.125);
}

.description-text {
    padding: 0px 15%;
    text-align: justify;
}

.desciption-img {
    width: 70%;
    height: 40%;
    background: url(img/3-1d.jpg);
}

.close {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    padding: 20px 20px;
}

.close a {
    justify-content: flex-end;
}

.close img {
    width: 40px;
    height: 40px;
}