*,
*:before,
*:after {
    box-shadow: border-box;
}

#transition_disable {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

body {
    margin: 0;
    font-family: 'Jura', sans-serif;
    overflow-x: hidden;
    background: rgb(238, 238, 238);
}

.full {
    display: flex;
    flex-direction: row;
}

.wrap {
    display: flex;
    width: 100vw;
    flex-direction: column;
    /* animation-direction: alternate; */
    /* animation: wrap 1s; */
}


/* @keyframes wrap {
    from {
        width: 80vw;
    }
    to {
        width: 100vw;
    }
} */

.wrap__active {
    display: flex;
    width: 80vw;
    flex-direction: column;
    animation: wrap__active 1s;
}

.wrap__passive {
    display: flex;
    width: 100vw;
    flex-direction: column;
    animation: wrap__passive 1s;
}

@keyframes wrap__active {
    from {
        width: 100vw;
    }
    to {
        width: 80vw;
    }
}

@keyframes wrap__passive {
    from {
        width: 80vw;
    }
    to {
        width: 100vw;
    }
}

.start-screen {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: url(img/main.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    align-items: center;
    /* animation: main 1s; */
    /* transition: 0.8s; */
}


/* @keyframes main {
    from {
        width: 80vw;
    }
    to {
        width: 100vw;
    }
} */

.menu {
    height: 100%;
    /* transform: translateX(100%); */
    width: 0vw;
    display: none;
    /* animation-direction: alternate; */
    /* animation: menu 1s; */
    background-color: rgb(9, 36, 32);
    /* transition: 0.8s; */
    position: fixed;
    top: 0px;
    right: 0px;
}


/* @keyframes menu {
    from {
        width: 20vw;
    }
    to {
        width: 0vw;
    }
} */

.menu__active {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    padding: 100px 0px 100px 0px;
    align-content: center;
    background-color: #CDD9DC;
    width: 20vw;
    animation: menu__active 1s;
    z-index: 999;
    /* transition: 0.8s; */
    align-items: flex-start;
}

@keyframes menu__active {
    from {
        width: 0vw;
        background-color: #928D96;
    }
    to {
        width: 20vw;
        background-color: #CDD9DC;
        ;
    }
}

.menu__passive {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 100px 0px 100px 0px;
    align-content: center;
    background-color: #928D96;
    width: 0vw;
    animation: menu__passive 1s;
    z-index: 999;
    /* transition: 0.8s; */
}

@keyframes menu__passive {
    from {
        width: 20vw;
        background-color: #CDD9DC;
    }
    to {
        width: 0vw;
        background-color: #928D96;
    }
}

.menu__passive .close-menu {
    display: none;
}

.menu__passive .menu-inner {
    display: none;
}

.menu__active .close-menu {
    display: flex;
}

.menu__active .menu-inner {
    display: flex;
}

.main__active {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    background: url(img/main.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    align-items: center;
    animation: main__active 1s;
    /* transition: 0.8s; */
}

@keyframes main__active {
    from {
        width: 100vw;
    }
    to {
        width: 80vw;
    }
}

.about {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.about h3 {
    margin: 0px;
    width: fit-content;
}

.about p {
    padding: 15px 0px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.4);
    border-top: solid 1px rgba(0, 0, 0, 0.4);
    width: fit-content;
}

.about a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    align-self: flex-end;
}

.contact h3 {
    text-align: left;
    margin: 0px;
    width: fit-content;
}

.cv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.cv i {
    color: #fb3958;
    padding: 0px 10px;
}

.contact p {
    border-top: solid 1px rgba(0, 0, 0, 0.4);
    padding: 15px 0px;
}

.contact {
    padding: 50px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15px;
}

.icons i {
    font-size: 40px;
    color: rgb(92, 92, 92);
}


}
.about p {
    text-align: justify;
}
.header {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.menu-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding-left: 15%;
}
.menu-ham img {
    position: fixed;
    top: 25px;
    right: 25px;
    height: 40px;
    width: auto;
}
.menu .close-menu {
    position: fixed;
    top: 25px;
    right: 25px;
}
.menu-ham {
    position: fixed;
    margin-right: 20px;
    padding: 20px 20px;
}
.menu-ham__active {
    display: none;
}
.menu a img {
    height: 50px;
    width: auto;
}
.menu-inner {
    display: flex;
    height: calc(100vh/3);
    justify-content: center;
}
.logo {
    padding-right: 20px;
    padding-left: 20px;
    position: fixed;
    top: 0;
    z-index: 1;
}
.logo h1 {
    font-size: 20px;
}
.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    margin-top: 160px;
}
.main-text h1 {
    width: 110%;
    text-align: center;
    font-size: 2em;
    margin: 0;
    color: white;
    letter-spacing: 0.225em;
    font-weight: bold;
    text-transform: uppercase;
    /* border: 3px solid white; */
    /* padding: 15px 20px 15px 20px; */
    /* border-top: 2px solid white;
    border-bottom: 2px solid white; */
}
.main-text p {
    color: #fb3958;
    font-weight: bold;
    font-size: 1.2em;
}
.main-arrow {
    height: 20vh;
}
.main-arrow img {
    height: 50px;
    width: auto;
}
.project-screen {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.project-header {
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(173, 171, 173, 1);
    -moz-box-shadow: inset 0px 2px 3px 0px rgba(173, 171, 173, 1);
    box-shadow: inset 0px 2px 3px 0px rgba(173, 171, 173, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* padding-bottom: 50px; */
    /* padding-top: 50px; */
    
    align-items: center;
    height: 10%;
    width: 100%;
    background: rgb(238, 238, 238);
}
.project-header h2 {
    width: fit-content;
    text-align: center;
    border-bottom: solid 2px rgba(0, 0, 0, 0.125);
    padding-bottom: 5px;
    letter-spacing: 0.225em;
    padding-top: 10px;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
}
.project-header p {
    margin-top: 0px;
}
.grid {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    background: rgb(238, 238, 238);
}
.grid-center {
    width: 70%;
    display: flex;
}
.left-container {
    width: 60%;
    height: 85%;
}
.right-container {
    width: 40%;
    height: 85%;
}
.right-container,
.one-left,
.s-left,
.f-left:hover {
    cursor: pointer;
}
.close-des img:hover {
    cursor: pointer;
}
.one-left {
    height: 50%;
    background-origin: content-box;
}
.two-left {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}
.f-left {
    width: 50%;
    height: 100%;
}
.s-left {
    width: 50%;
    height: 100%;
}
.myimages {
    height: 85%;
    background-size: cover !important;
    margin: 15px 15px 0px 15px;
}
.myimages:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.q-img {
    background: url(img/1.jpg) no-repeat center;
}
.g-img {
    background: url(img/3.jpg) no-repeat center;
}
.d-img {
    background: url(img/2.jpg) no-repeat center;
}
.p-img {
    background: url(img/4.jpg) no-repeat center;
}
.quailMain {
    background: url(img/1.jpg) no-repeat center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.dragonMain {
    background: url(img/2.jpg) no-repeat center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.animations {
    background: url(img/3.jpg) no-repeat center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.portfolio {
    background: url(img/4.jpg) no-repeat center;
    height: 94.7%;
    margin: 15px 15px 0px 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.portfolio-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    /* border: 1px solid red; */
    
    margin: 0px 15px 15px 15px;
    /* margin: 0px 0px !important; */
    
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background: white;
    /* font-family: 'Julius Sans One', sans-serif; */
    
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-weight: 300;
}
.project-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-size: 12px;
    /* margin: 0px 0px !important; */
    
    text-transform: uppercase;
    text-align: center;
    margin: 0px 15px 15px 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background: white;
    font-weight: 300;
}
.project-title:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
h2 {
    margin: 0px 0px !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.125em;
}
.footer h4 {
    font-family: 'Libre Barcode 39 Extended Text', regular;
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin-top: -30px;
    font-weight: normal;
}
.footer {
    z-index: 20;
}
.window-description {
    padding: 15px 15px 15px 15px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    
    justify-content: center;
    align-items: center;
}
.gap {
    width: 70%;
    height: 80%;
    /* border: 1px solid blue; */
    
    display: flex;
    flex-direction: row;
}
.description-img {
    /* border: 1px solid purple; */
    
    width: 55%;
    background-size: cover !important;
    /* background: url(img/3-d.jpg) no-repeat center; */
    
    margin: 0px 10px 0px 10px;
    -webkit-box-shadow: 5px 5px 15px 1px rgba(156, 156, 156, 1);
    -moz-box-shadow: 5px 5px 15px 1px rgba(156, 156, 156, 1);
    box-shadow: 5px 5px 15px 1px rgba(156, 156, 156, 1);
}
.description-text {
    width: 45%;
    height: 100%;
    margin: 0px 10px 0px 10px;
}
.mytext {
    text-align: justify;
    height: calc(60% - 20px);
    margin: 0px 0px 20px 0px;
    background: white;
    -webkit-box-shadow: 5px 5px 15px 1px rgba(156, 156, 156, 1);
    -moz-box-shadow: 5px 5px 15px 1px rgba(156, 156, 156, 1);
    box-shadow: 5px 5px 15px 1px rgba(156, 156, 156, 1);
}
.mytext h2 {
    padding: 15px 30px;
}
.mytext p {
    padding: 10px 30px;
}
.links-text {
    height: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    -webkit-box-shadow: 5px 5px 15px 1px rgba(156, 156, 156, 1);
    -moz-box-shadow: 5px 5px 15px 1px rgba(156, 156, 156, 1);
    box-shadow: 5px 5px 15px 1px rgba(156, 156, 156, 1);
}
.links-text p,
h3 {
    margin: 10px 10px;
}
.passive {
    display: none;
}
.active {
    display: flex;
    z-index: 10;
}
.close-des {
    display: flex;
    justify-content: flex-end;
}
.close-des img {
    height: 50px;
    width: auto;
}

/* ////////////////animations/////////////// */
.loading h1:before {
    transition: transform 0.5s ease;
    transition-delay: 2s;
    background: #fff;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    /* width: 0%; */
}
.loading h1:after {
    transition: transform 0.5s ease;
    transition-delay: 0.25s;
    background: #fff;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transform: scaleX(0);
    /* width: 0%; */
}
.done h1:before {
    transition: transform 1.5s ease;
    transition-delay: 1s;
    background: #fff;
    content: '';
    display: block;
    height: 2px;
    transform: scaleX(1);
    transform-origin: left;
    /* width: 100%; */
}
.done h1:after {
    transition: transform 1.5s ease;
    transition-delay: 1s;
    background: #fff;
    content: '';
    display: block;
    height: 2px;
    transform: scaleX(1);
    transform-origin: right;
    /* width: 100%; */
}
.main-text h1:before {
    top: 0;
    left: 0;
    margin: 10px 0px;
    transition-delay: 0.25s;
}
.main-text h1:after {
    bottom: 0;
    right: 0;
    margin: 10px 0px;
    transition-delay: 0.25s;
    /* animation-name: appear; */
    /* animation-timing-function: ease-out; */
    /* transform-origin: 0% 0%; */
}
.main-text h1 {
    transition: opacity 1.5s ease-in;
    opacity: 1;
    animation: appear 1.5s;
    animation-timing-function: ease-in;
}
@keyframes appear {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}